/* Main Elements */
body {
	font-family: 'Lucida Grande',Tahoma,Calibri,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.584;
	color: #262626;
	margin: 0;
}

a {
	color: #333;
}

h1 {
	font-size: 40px;
}

h1, h2, h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, .hdr-xxl, .hdr-xl, .hdr-l, .hdr-m, .hdr-sm, .hdr-xsm {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: bold;
	line-height: 1.2;
	color: #343434;
}

.description {
	font-size: 1.2em;
}

.reference {
	padding: 0.5em 0;
	font-size: .9em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#wrapper {position: relative;min-height: 100%;padding:10px 0px;}

section {position: relative;overflow: hidden;margin: 0 0 40px;}

.breadcrumb {
	list-style: none;
	padding: 0;
}

/* body::before { */
/* 	content: '.'; */
/* 	background: url('/img/substantial-logo.png') no-repeat top right; */
/* 	width: 801px; */
/* 	height: 65px; */
/* 	top: 0; */
/* 	left: 0; */
/* 	position: absolute; */
/* } */

/* Text */
ul {margin:0 0 20px;}

/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}

/* Drop Box */
#drop-box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop-box.over {opacity:0.8;border-color:#74c043;}

/* Buttons */
.buttons button {margin: 0 20px 0 0;}

body, html {overflow:visible !important;}

code {-webkit-user-select: auto;}

#wrapper { width: 600px; margin: 0 auto; }
.title { position: relative; }
.title h2 { margin: 10px 0; }
.metadata { font-size: 20px; font-weight: normal; max-width: 50%; text-decoration: none; color: #1b1d1e; }
#artist { text-transform: uppercase; }
.starred { position: absolute; top: 0; right: -15px; }
#star { font-size: 50px; cursor: pointer; background: none; border: none; outline: none; }
.fa-star, .fa-star-o { color: #81b71a; }
.footer { text-align: center; margin: 10px 0 0; }
